#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*------------------------------*/



/* --- ESTILO DA TELA DE LOGIN (SPLIT SCREEN) --- */
.login-container {
  display: flex;
  height: 100vh; /* Ocupa 100% da altura da tela */
  width: 100%;
  font-family: 'Inter', sans-serif;
}

/* Lado Esquerdo (Azul) */
.login-left {
  flex: 1; /* Ocupa metade da tela */
  background: linear-gradient(135deg, #051937 0%, #004d7a 100%); /* Degradê Azul */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
}

.login-brand h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;

}

.login-welcome h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.login-welcome p {
  font-size: 1.2rem;
  opacity: 0.8;
  max-width: 400px;
}

/* Lado Direito (Branco/Formulário) */
.login-right {
  flex: 1; /* Ocupa a outra metade */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-form-wrapper {
  width: 100%;
  max-width: 400px; /* Largura máxima do formulário para não ficar gigante */
}

.login-form-wrapper h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px; /* Bordas arredondadas como na imagem */
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #004d7a; /* Azul ao clicar */
}

.btn-login {
  width: 100%;
  padding: 14px;
  background-color: #0066cc; /* Azul vibrante do botão */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: #0052a3;
}

.btn-login:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsividade para celular (Fica um embaixo do outro) */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  .login-left {
    padding: 30px;
    flex: 0.3; /* Lado azul fica menor no celular */
  }
  .login-welcome h2 {
    font-size: 2rem;
  }
  .login-right {
    flex: 1;
  }
}